{% extends 'base-admin.html.twig' %}

{% block title %}Add product{% endblock %}

{% block body %}
<main class="administration">

    <h1>{{action}}</h1>

    {{ form(form) }}
    
</main>
{% endblock %}