{% extends 'base-admin.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}

{% block body %}

<main class="administration">

    <h1>les produits</h1>
    <button><a href="{{ path('adminAddProduct') }}">Créer un produit</a></button>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Image</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.image}}</td>
            <td>{{product.price}}</td>
            <td><a href="{{path('adminRemoveProduct', {id: product.id}) }}">Supprimer</a><a href="{{path('adminUpdateProduct', {id: product.id}) }}">Modifier</a></td>
        </tr>
        {% endfor %}
    </table>
</main>

{% endblock %}
