{% extends 'base-admin.html.twig' %}

{% block title %}Update product{% endblock %}

{% block body %}
<main class="administration">

    <h1>{{action}}</h1>

    {{ form(form) }}
    {% if (product.foodInfo is null) and (product.productType.name == "Plats" or product.productType.name == "Snacks") %}
    <a href="{{path('adminAddProductInformations', {id: product.id}) }}">Ajouter des informations produits</a>
    {% else %}
    <a href="{{path('adminUpdateProductInformations', {id: product.id}) }}">Modifier les informations produits</a>
    {% endif %}

</main>
{% endblock %}