{% extends 'base-admin.html.twig' %}

{% block title %}Update product informations{% endblock %}

{% block body %}
<main class="administration">
    {{product_info.name}}


        <h1>{{action}}</h1>

        {{ form(form) }}

        <a href="{{path('adminRemoveProductInformations', {id: product_info.id}) }}">Supprimer les informations produit</a>

</main>
{% endblock %}