{% extends 'base-public.html.twig' %}

{% block title %}EatOrder - La Cave & Vous{% endblock %}

{% block body %}

<main class="cart">

    <h1>Votre panier</h1>

    {% if items | length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price * item.quantity }}</td>
                        <td>
                            <a href="{{ path('panier_remove', {'id': item.product.id}) }}">
                                <span class="material-icons">close</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total : </td>
                    <td>{{ total }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        <p>Votre panier est vide.</p>
    {% endif %}

</main>

{% endblock %}
