{% extends 'base-public.html.twig' %}

{% block title %}EatOrder - Connexion{% endblock %}

{% block body %}

<main class="login">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    
        {% if app.user %}
            <div class="mb-3">
                Vous êtes déjà connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
    
        <h1 class="main-title">Connexion</h1>
        <label for="inputUsername">Nom d'utilisateur</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
    
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="submit" type="submit">
            Se connecter
        </button>

        <span class="register">Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">Inscription</a></span>
    </form>
</main>

{% endblock %}
