{% extends 'base-public.html.twig' %}

{% block title %}EatOrder - Inscription{% endblock %}

{% block body %}

<main class="register">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="main-title">Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: "Nom d'utilisateur"
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: "Accepter les conditions générales d'utilisation"
        }) }}

        <button type="submit" class="submit">S'inscrire</button>
    {{ form_end(registrationForm) }}

    <span class="login">Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connexion</a></span>
</main>
{% endblock %}
