{% extends 'base-public.html.twig' %}

{% block title %}EatOrder - La Cave & Vous{% endblock %}

{% block body %}

<main class="user-content">

    {% for content in contents %}
        {% if content.id == 3 %}
            <p>{{content.text}}</p>
        {% endif %}
    {% endfor %}

</main>

{% endblock %}
