{% block header %}
<div class="top-bar-admin">
	<span>
		<a href="{{ path('index') }}">
			<span class="material-icons">navigate_before</span> Retourner sur le site
		</a>
	</span>
	<span>
		<a href="{{ path('logout') }}">
			Déconnexion <span class="material-icons">logout</span>
		</a>
	</span>
</div>
	<header class="admin">
		<nav>
			<ul>
				<li><a href="{{ path('administration') }}">Dashboard</a></li>
				<li><a href="{{ path('adminProducts') }}">Les produits</a></li>
				<li><a href="{{ path('adminContents') }}">Modifier le contenu</a></li>
			</ul>
		</nav>
	</header>
{% endblock %}
