{% block header %}

<div class="top-bar">
	<span>
		{% for content in contents %}
			{% if content.id == 1 %}
				<p>{{content.text}}</p>
			{% endif %}
		{% endfor %}
	</span>
	<span>
		<a href="{{ path('administration') }}">
			<span class="material-icons">person</span> Espace d'administration
		</a>
	</span>
</div>
	<header>

		<a href="{{ path('index') }}">
			<img class="main-logo" src="{{asset('assets/img//logos/logocetv.png')}}" alt="Retourner sur la page d'accueil">
		</a>

		<nav>
			<ul>
				<li><a href="{{ path('index') }}">Accueil</a></li>
				{% for type in types %}
					<li><a href="{{ path('type', {type:type.id}) }}">{{type.name}}</a>
						{% if type.category %}
							<ul>
								{% for category in type.category %}
									<li><a href="{{ path('category', {category:category.id}) }}">{{category.name}}</a></li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</nav>
	</header>

{% endblock %}
