{% extends 'base-public.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block body %}

<main class="product">
  <section id="product-header">
    <div class="product-image">
      <img src="{{asset('assets/img/products/'~ product.image)}}" />
    </div>
    <div class="product-title-desc">
      <h1>{{product.name}}</h1>
      <span>
        <span class="type">{{ product.productType.name }}</span>
        <span class="category">{{ product.category.name }}</span>
        {% if product.drinkInfo %}
          <span class="drinktype">{% for info in product.drinkInfo.type %}{{ info.name }} {% endfor %}</span>
        {% endif %}
      </span>
       <p>{{product.description}}</p>
         
      {% if product.foodInfo %}
        <h3>Infos nutritions</h3>
          <ul class="food-info">
              <li>Matières grasses : {{ product.foodInfo.fat }}g</li>
              <li>Valeur énergétique : {{ product.foodInfo.energy }}kcal</li>
              <li>Glucides : {{ product.foodInfo.glucid }}g</li>
              <li>Protéines : {{ product.foodInfo.protein }}g</li>
              <li>Sucre : {{ product.foodInfo.sugar }}g</li>
              <li>Sel : {{ product.foodInfo.salt }}g</li>
          </ul>
      {% endif %}

      {% if product.drinkInfo %}
        <h3>Infos Boisson</h3>
          <ul class="food-info">
              <li>Litre : {{ product.drinkInfo.liter }} litre(s)</li>
              <li>Alcool : {{ product.drinkInfo.alcohol }}°</li>
          </ul>
      {% endif %}

      <button>
        <a href="{{ path('panier_add', {'id': product.id}) }}">Ajouter au panier - <span class="price">{{product.price}}€</span></a>
      </button>
    </div>
  </section>
</main>

{% endblock %}
