{% extends 'base-public.html.twig' %}

{% block title %}EatOrder - La Cave & Vous{% endblock %}

{% block body %}

<main class="products">
    
    <div class="flex-products">
        {% for product in products %}  
        
        <article style="background-image: url('{{asset('assets/img/products/'~ product.image)}}');">
            <a href="{{ path('product', {'id': product.id}) }}"> 
                <h3>{{product.name}}</h3>
            </a>
        </article>

        {% endfor %}
    </div>

</main>

{% endblock %}
