main.administration {
    position: absolute;
    top: 190px;
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    left: 500px;
}

main.dashboard {
    position: relative;
    left: 350px;
    top: 100px;
}