.top-bar {
    background: #EE7F06;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    p {
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
    }
    a {
        color: white;
        opacity: 0.5;
        font-size: 0.7rem;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease-out 0.2s;
        span {
            font-size: 1rem;
            margin-right: 5px;
        }
        &:hover {
            opacity: 1;
        }
    }
}

header {
    background: black;
    top: 40px;
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    box-shadow: 0 0 100px #00000029;
    img.main-logo {
        height: 75px;
        width: auto;
    }
    nav {
        ul {
            padding: 0;
            color: white;
            list-style-type: none;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            li {
                margin-left: 40px;
                cursor: pointer;
                a{
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: ease-out 0.2s;
                    font-weight: 600;
                    &:hover {
                        color: #EE7F06;
                    }
                }
                ul {
                    display: none;
                }
                &:hover ul {
                    // display: block;
                }
            }
        }
    }
}

.top-bar-admin {
    background: #EE7F06;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    p {
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
    }
    a {
        color: white;
        opacity: 0.5;
        font-size: 0.7rem;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease-out 0.2s;
        span {
            font-size: 1rem;
            margin-left: 5px;
        }
        &:hover {
            opacity: 1;
        }
    }
}

header.admin {
    background: black;
    top: 40px;
    position: fixed;
    height: 100vh;
    box-shadow: 0 0 100px #00000029;
    width: 250px;
    padding: 0;
    img.main-logo {
        height: 75px;
        width: auto;
    }
    nav {
        width: 100%;
        position: absolute;
        top: 100px;
        ul {
            padding: 0;
            color: white;
            list-style-type: none;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            li {
                margin: 0;
                margin-bottom: 30px;
                cursor: pointer;
                a{
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: ease-out 0.2s;
                    font-weight: 600;
                    &:hover {
                        color: #EE7F06;
                    }
                }
                ul {
                    display: none;
                }
                &:hover ul {
                    // display: block;
                }
            }
        }
    }
}