body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #EE7F06;
}

h1.main-title {
    background: #ee7f06;
    width: fit-content;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 50px;
}

main.user-content {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 100px;
}