main.products {
    position: absolute;
    top: 190px;
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    .flex-products {
        display: flex;
        flex-wrap: wrap;
        margin: -20px;
        justify-content: center;
        article {
            width: 200px;
            height: 200px;
            object-fit: contain;
            background-position: center center;
            background-size: contain;
            background-color: #eaeaea;   
            background-repeat: no-repeat;         
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: inset 2000px 0 0 0 rgb(0 0 0 / 80%);
            margin: 20px;
            padding: 20px;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: ease-out 0.2s;
            a {
                text-decoration: none;
                h3 {
                    margin: 0;
                    text-align: center;
                    color: white;
                    font-weight: 500;
                    text-transform: uppercase;
                    background: #EE7F06;
                    padding-right: 10px;
                    padding-left: 10px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    transition: ease-out 0.2s;
                }
            }
            &:hover {
                box-shadow: inset 2000px 0 0 0 rgb(0 0 0 / 0%); 
                h3 {
                    background: black;
                }
            }
        }
    }
}