main.product {
    position: absolute;
    top: 140px;
    width: 100%;
    #product-header {
        width: 100%;
        height: calc(100vh - 140px);
        display: flex;
        align-items: center;
        .product-image {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #eaeaea;
            height: 100%;
            img {
                width: 50%;
            }
        }
        .product-title-desc {
            padding: 100px;
            h1 {
                margin: 0;
                margin-bottom: 10px;
                font-size: 3rem;
                text-transform: uppercase;
                font-weight: 700;
            }
            span.type {
                background: #EE7F06;
                padding-right: 10px;
                padding-left: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 999rem;
                color: white;
                font-size: 0.7rem; 
                margin-right: 10px;
            }
            span.category {
                background: #EE7F06;
                padding-right: 10px;
                padding-left: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 999rem;
                color: white;
                font-size: 0.7rem; 
                margin-right: 10px;
            }
            span.drinktype {
                background: #EE7F06;
                padding-right: 10px;
                padding-left: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 999rem;
                color: white;
                font-size: 0.7rem; 
                margin-right: 10px;
            }
            p {
                margin: 0;
                margin-top: 50px;
                max-width: 80%;
            }
            button {
                margin-top: 50px;
                border: none;
                outline: none;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-right: 40px;
                padding-left: 40px;
                background: #EE7F06;
                cursor: pointer;
                transition: ease-out 0.2s;
                max-width: 80%;
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    font-weight: 600;
                }
                &:hover {
                    opacity: 0.5;
                }
            }
            h3 {
                font-weight: 500;
            }
        }
        @media (max-width: 768px) {
            flex-direction: column;
            .product-image {
                width: 100%;
            }
            .product-title-desc {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}