main.login {
    position: absolute;
    top: 190px;
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .mb-3 {
            margin-bottom: 30px;
        }
        input {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 20px;
            padding-left: 20px;
            min-width: 300px;
            border: none;
            height: 30px;
            border-radius: 999px;
            outline: none;
            margin-bottom: 20px;
            background-color: rgb(232, 240, 254);
        }
        label {
            margin-bottom: 10px;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
        button.submit {
            background: black;
            color: white;
            border: none;
            outline: none;
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 999rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 30px;
            cursor: pointer;
            transition: ease-out 0.2s;
            &:hover {
                color: #ee7f06;
            }
        }
        .register {
            margin-top: 30px;
        }
    }
}

main.register {
    position: absolute;
    top: 190px;
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .mb-3 {
            margin-bottom: 30px;
        }
        input {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 20px;
            padding-left: 20px;
            min-width: 300px;
            border: none;
            height: 30px;
            border-radius: 999px;
            outline: none;
            margin-bottom: 20px;
            background-color: rgb(232, 240, 254);
        }
        label {
            margin-bottom: 10px;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
        button.submit {
            background: black;
            color: white;
            border: none;
            outline: none;
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 999rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 30px;
            cursor: pointer;
            transition: ease-out 0.2s;
            &:hover {
                color: #ee7f06;
            }
        }
    }
    .login {
        margin-top: 30px;
    }
}