{% extends 'base-admin.html.twig' %}

{% block title %}Contents{% endblock %}

{% block body %}

<main class="administration">

    <h1>le contenu</h1>
    
        {% for content in contents %}
        <tr>
            <td>{{content.id}}</td>
            <td>{{content.name}}</td>
            <td>{{content.text}}</td>
            <td><a href="{{path('adminEditContents', {id: content.id}) }}">Modifier</a></td>
        </tr>
        {% endfor %}
    </table>
</main>

{% endblock %}
