{% extends 'base-admin.html.twig' %}

{% block title %}Update product informations{% endblock %}

{% block body %}
<main class="administration">

    <h1>{{action}}</h1>

    {{ form(form) }}


</main>
{% endblock %}