{% extends 'base-admin.html.twig' %}

{% block title %}Hello AdministrationControllerzejolqdfs:sdq!{% endblock %}

{% block body %}

<main class="dashboard">
    <h1>Bonjour Paul, que souhaitez-vous faire aujourd'hui ?</h1>
</main>
{% endblock %}
